* @AryanSalmanpour @rrawther @kiritigowda
# Documentation files
docs/ @ROCm/rocm-documentation @AryanSalmanpour
*.md @ROCm/rocm-documentation @AryanSalmanpour
*.rst @ROCm/rocm-documentation @AryanSalmanpour
.readthedocs.yaml @ROCm/rocm-documentation @AryanSalmanpour